<h1><%= @conversation.subject %></h1>

<p>
  <b><%= t('conversation.show.participants') %></b>:
  <%= @conversation.users.map{|u| u.name}.join(', ') %>
  <br />
  <b><%= t('conversation.show.created_at') %></b>:
  <%= l @conversation.created_at %>
</p>

<% for message in @conversation.messages do %>
  <div class="message">
    <div class="message-head">
      <%= t('conversation.show.wrote', person: message.user.name) %>
      <%= t('conversation.show.time_ago', time: time_ago_in_words(message.created_at)) %>:
    </div>
    <div class="message-body">
      <%= raw message.body %>
    </div>
  </div>
<% end %>
<%= form_for(@message, :url => user_conversation_messages_path(@conversation.user, @conversation)) do |f| %>
  <div>
    <%= f.text_area :body, cols: 75, rows: 5 %>
  </div>
  <p><%= f.submit %></p>
<% end %>

<% if current_user == @conversation.user && !@conversation.read? %>
  <%= link_to t('conversation.show.mark_as_read'), mark_as_read_user_conversation_path(@conversation.user, @conversation), :method => :post %>
<% elsif current_user == @conversation.user && @conversation.read? %>
  <%= link_to t('conversation.show.mark_as_unread'), mark_as_unread_user_conversation_path(@conversation.user, @conversation), :method => :post %>
<% end %>
<br />

<%= link_to t('conversation.show.back_to_conversations'), user_conversations_path(@user) %>