<h1><%= t('conversation.new.new_conversation') %></h1>

<%= form_for(@conversation, :url => user_conversations_path) do |f| %>
  <% if @conversation.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(@conversation.errors.count, "error")} prohibited this order from being saved:" %></ul>
      <ul>
        <% @conversation.errors.full_messages.each do |msg| %>
          <li><%= msg%></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :to_tokens %>
    <br />
    <%= f.text_field :to_tokens, "data-pre" => @conversation.users.map(&:attributes).to_json %>
  </div>
  <div>
    <%= f.label :subject %>
    <br />
    <%= f.text_field :subject %>
  </div>
  <%= f.fields_for :messages do |m| %>
    <div>
      <%= m.label :body %><br />
      <%= m.text_area :body %>
    </div>
  <% end %>
  <%= f.submit %>
<% end %>